<h1><%= @my_pet.name %></h1>

<h4>Food level: <%= @food_level %></h4>
<h4>Sleep level: <%= @sleep_level %></h4>
<h4>Activity level: <%= @activity_level %></h4>

<a href="/tamagotchi">Refresh</a><br>
<a href="/">Back to home page</a>


<form action ="/tamagotchi" method ="post">
  <input name="_method" type="hidden" value="patch">
  <button type="submit">Feed!</button>
</form>
